@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Noto+Sans+Mono&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    margin: 0 auto;
    width: 90%;
}

code, pre code {
    font-family: 'Noto Sans Mono', monospace;
}