/* LEGACY CODE - FOR BACKWARD COMPABILITY PURPOSES */

/*
.doujinContainer {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doujin {
    text-align: center;
    float: left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    height: 33.3%;
}

.doujin .title {
    margin-top: 10px;
    color: unset;
    text-decoration: unset;
}

.doujin .posterImage {
    max-width: 200px;
    max-height: 400px;
    min-width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.doujin .posterImage:hover {
    filter: none;
    transition: 0.3s;
}

.doujin:hover {
    transition: 0.3s;
}

.doujin .title:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #484848
}

.doujin .posterImage:hover {
    transition: 0.3s;
    box-shadow: 4px 8px #323232;
    cursor: pointer
}*/