---
import Layout from "../layouts/Layout.astro";
import DList from "../components/DList.astro";
---

<Layout title="Home">
  <div class="doujinContainer">
    <DList query="Genshin" />
  </div>
</Layout>
