---
import icon from "../assets/Charlotte_Icon.png";
import Search from "./Search.astro";

export interface Props {
  query?: string;
}
---

<div class="header">
  <div class="text">
    <h3 onclick="window.location.href='/'" class="charlotte-heading">
      <img class="sitecon" {...icon} />&nbsp;Charlotte
    </h3>
     An alternative frontend for HentaiVN, using <a
      href="https://github.com/4pii4/piehtvn">piehtvn</a
    > backend API.
  </div>
  <Search query={Astro.props.query} />
</div>

<style>
  .text {
    padding-right: 10px;
  }
</style>
